!!!
%html
  %head
    =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:600|Gilda+Display|News+Cycle'
    =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Josefin+Slab:600|Open+Sans:400,600|Stoke' 
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Dimitar Ginev"
      %meta{:content => content_for?(:description) ? yield(:description) : "Portfolio", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.top-header
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
